{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Homepage</a></li>
  <li class="breadcrumb-item active">Recent Data Report</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Student Name</th>
        <th>Peak Heart Rate</th>
        <th>Number of Times Stressed</th>
        <th>Stress and Step Correlation</th>
      </tr>
    </thead>
    <tbody>
      {% for stud in day %}
        <tr>
          <td>{{stud.student_name}}</t>
          <td>{{stud.peak_hr}}</td>
          <td>{{stud.day_str_red}}</td>
          <td>{{stud.str_step_cor}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}