{% extends 'base.html' %}
{% load rest_framework %}

<script>
{% block jquery %}


{% include 'base/endpointurl.html' %}
var studentNum1 = {{ student_one }}
var studentNum2 = {{ student_two }}
var stud1time = []
var stud2time = []
var stud1hr = []
var stud2hr = []
var labels2 = ''
var labels1 = '';


$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels1 = data.labels[studentNum1]
        labels2 = data.labels[studentNum2]
        stud1time = Object.keys(data[labels1])
        stud1hr = Object.values(data[labels1]).map(n => n.toString())
        stud2time = Object.keys(data[labels2])
        stud2hr = Object.values(data[labels2]).map(n => n.toString())
        multiChart(stud1time, labels1, stud1hr, stud2time, labels2, stud2hr)     
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
{% include 'base/chart_functions.html' %}
{% endblock %}
</script>

{% block content %}

<form class="form-inline" method="post" novalidate autocomplete="off">
    {% csrf_token %}
    {% include 'base/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
</form>

<div class='row'>
    <div class='col-sm-11' url-endpoint='{% url "api-data" %}'>
        
            <canvas id="myChart" width="200" height="70"></canvas>
        <!-- 
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div> -->
    </div>
</div>

{% endblock content %}

{% block javascript %}
//<script>
$("#id_start_time").datetimepicker({
  timepicker: true, 
  datepicker: true, 
  
});
$("#id_end_time").datetimepicker({
  timepicker: true, 
  datepicker: true
});

{% endblock %}